.news_blocks {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    width: 100%;
}

.news_blocks h2 {
    font-size: 40px;
    width: 100%;
    color: rgba(1, 80, 158, 1);
}

.news_blocks p {
    font-size: 15px;
    width: 100%;
    font-weight: bold;
    margin-top: 1%;
}

.news_block {
    display: flex;
    flex-direction: column;
    margin-left: 0;

}

.news_block img {
    margin-top: 1%;
    border-radius: 12px;
    margin-left: 0;
    background-size: contain;
}

.news_block p {
    font-size: 24px;
    width: 100%;
    font-weight: lighter;
    margin-top: 2%;
}