@font-face {
    font-family: 'Inter';
    font-weight: 700; /* Толщина шрифта: обычная */
    src: url('../../public/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype'); /* Путь к файлу шрифта TTF */
  }

  #root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

html {
    min-width: 1510px;
    height: 100%;
  }

  * {
    margin: 0 auto;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  main {
    width: 1314px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1 0 auto;
  }

  .corporate-section {
    box-sizing: border-box;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    flex: 1; /* Растягивает основное содержимое, чтобы footer был внизу */
}

.company-info-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 150px;
    background: rgba(242, 246, 247, 1);
}

.header-navigation-bar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 58px;
    align-items: center;
    justify-content: flex-start;
    width: 1314px;
    padding-top: 19.5px;
    padding-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

.button_product button:hover {
    background-color: #025BAC; /* Green */
    color: white;
    cursor: pointer;
  }

  .company-info-styles a:hover {
    text-decoration: none;
    color: #424344;
  }

  .industrial-text-block p a:hover {
    color: white;
  }

  .industrial-text-block:hover {
    background-color: #025BAC; /* Green */
    color: white;
    cursor: pointer;
    border-radius: 16px;
   }

   .industry-description a:hover {
    font-weight: bold;
    color: #025BAC;
  }

  

.corporate-info-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.vertical-section-with-products {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.partner-info-section {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 70px;
}

.company-info-logo {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0;
}

.column-layout-container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.company-news-section {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.logo_button_input {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    flex: 0 0 auto;
    gap: 30px;
}

.company-info-styles {
    flex: 0 0 auto;
    font: 400 14px / 16px Inter, sans-serif;
    color: rgba(105, 107, 108, 1);
    white-space: pre-wrap;
    margin-left: 0;
    margin-right: 0;
}

.company-info-styles a {
    text-decoration: none;
    color: rgba(105, 107, 108, 1);
    transition-duration: 0.7s;
}

.logo_button {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
}

.product-input-container_search {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}

.banner-image {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    max-width: initial;
    height: 60px;
    border: none;
    object-fit: cover;
    margin-left: 0;
}

.button_product {
    margin-left: 30px;
    display: flex;
    align-items: center;
    height: 100%;
}

.button_product button {
    width: 181px;
    height: 48px;
    background-color: #F2F6F7;
    color: #025BAC;
    border: 2px solid #025BAC;
    border-radius: 10px;
    transition-duration: 0.7s;
}

.button_product button p {
    font-weight: bold;
    font-size: 16px;
}

.hierarchical-text-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 3.5px;
}

.vertical-section-aside {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 161px;
}

.industry-description {
    font: 400 14px / 16px Inter, sans-serif;
    color: rgba(105, 107, 108, 1);
    flex: 0 0 auto;
    white-space: pre-wrap;
}

.industry-description a {
    text-decoration: none;
    color: rgba(105, 107, 108, 1);
    transition-duration: 0.05s;
}

.industrial-product-categories-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-end;
    justify-content: space-between;
}

.industrial-product-categories-container a {
    display: flex;
    box-sizing: border-box;
    font: 400 16px / 20px Inter, sans-serif;
    color: rgba(23, 33, 38, 1);
    white-space: pre-wrap;
    margin: 0;
    transition-duration: 0.7s;
    height: 100%;
    align-items: center;
    text-decoration: none;
}

.industrial-text-block {
    display: flex;
    box-sizing: border-box;
    font: 400 16px / 20px Inter, sans-serif;
    color: rgba(23, 33, 38, 1);
    white-space: pre-wrap;
    margin: 0;
    transition-duration: 0.7s;
    height: 100%;
    align-items: center;
}

.industrial-text-block p {
    text-align: center;
    width: 100%;
}

.industrial-text-block p a {
    color: rgba(23, 33, 38, 1);
    text-decoration: none;
    transition-duration: 0.7s;
}

.scroll-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
  }
  
  .scroll-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #025BAC;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.4s, visibility 0.4s;
  }
  
  .scroll-button:hover {
    background-color: red;
  }

  .product-row {
    display: flex;
    gap: 16px; 
    flex-wrap: wrap; 
    justify-content: space-between;
  }

  .product-card-list {
    display: flex;
  flex-direction: column;
  gap: 16px;
  }

  .search-results-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    top: 13%; /* Расположить прямо под поисковым полем */
    left: 35.3%;
    width: 30%; /* Сделать ширину выпадающего окна такой же, как у input */
    max-height: 200px; /* Ограничение по высоте */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto; /* Добавить прокрутку, если много элементов */
  }
  
  .search-results-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .search-results-dropdown li {
    padding: 10px;
    cursor: pointer;
  }
  
  .search-results-dropdown li a {
    text-decoration: none;
    color: black;
    display: block;
  }
  
  .search-results-dropdown li:hover {
    background-color: #f5f5f5;
  }