@font-face {
    font-family: 'Inter';
    font-weight: 700; /* Толщина шрифта: обычная */
    src: url('../../public/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype'); /* Путь к файлу шрифта TTF */
  }

  #root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

html {
    
    height: 100%;
  }

  * {
    margin: 0 auto;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  main {
    width: 1314px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1 0 auto;
  }

  .corporate-section {
    box-sizing: border-box;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    flex: 1; /* Растягивает основное содержимое, чтобы footer был внизу */
}

.company-info-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 150px;
    background: rgba(242, 246, 247, 1);
}

.header-navigation-bar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 58px;
    align-items: center;
    justify-content: flex-start;
    width: 1314px;
    padding-top: 19.5px;
    padding-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

.company-logo img {
  height: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  display: none; /* скрыто по умолчанию */
}

.menu.open {
  display: flex; /* показать меню, когда оно открыто */
}

/* Кнопка для мобильной версии */
.menu-toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.button_product button:hover {
    background-color: #025BAC; /* Green */
    color: white;
    cursor: pointer;
  }

  .company-info-styles a:hover {
    text-decoration: none;
    color: #424344;
  }

  .industrial-text-block p a:hover {
    color: white;
  }

  .industrial-text-block:hover {
    background-color: #025BAC; /* Green */
    color: white;
    cursor: pointer;
    border-radius: 16px;
   }

   .industry-description a:hover {
    font-weight: bold;
    color: #025BAC;
  }

  

.corporate-info-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.vertical-section-with-products {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.partner-info-section {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 70px;
}

.company-info-logo {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0;
}

.column-layout-container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.company-news-section {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.logo_button_input {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    flex: 0 0 auto;
    gap: 50px;
    width: 50%;
}

.company-info-styles {
    flex: 0 0 auto;
    font: 400 14px / 16px Inter, sans-serif;
    color: rgba(105, 107, 108, 1);
    white-space: pre-wrap;
    margin-left: 0;
    margin-right: 0;
}

.company-info-styles a {
    text-decoration: none;
    color: rgba(105, 107, 108, 1);
    transition-duration: 0.7s;
}

.logo_button {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
}

.logo_button a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
}

.logo_button a:nth-child(n+2) {
  margin-left: 5%;
}

.product-input-container_search {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}

.banner-image {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    max-width: initial;
    height: 60px;
    border: none;
    object-fit: cover;
    margin-left: 0;
}

.banner-image_2 {
  box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    max-width: initial;
    height: 65px;
    border: none;
    object-fit: cover;
    margin-left: 0;
}

.button_product {
    margin-left: 30px;
    display: flex;
    align-items: center;
    height: 100%;
}

.button_product button {
    width: 181px;
    height: 48px;
    background-color: #F2F6F7;
    color: #025BAC;
    border: 2px solid #025BAC;
    border-radius: 10px;
    transition-duration: 0.7s;
}

.button_product button p {
    font-weight: bold;
    font-size: 16px;
}

.hierarchical-text-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 3.5px;
}

.vertical-section-aside {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 161px;
}

.industry-description {
    font: 400 14px / 16px Inter, sans-serif;
    color: rgba(105, 107, 108, 1);
    flex: 0 0 auto;
    white-space: pre-wrap;
}

.industry-description:nth-child(n+2) {
  margin-top: 5%;
}

.industry-description a {
    text-decoration: none;
    color: rgba(105, 107, 108, 1);
    transition-duration: 0.05s;
}

.industrial-product-categories-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-end;
    justify-content: space-between;
}

.industrial-product-categories-container a {
    display: flex;
    box-sizing: border-box;
    font: 400 16px / 20px Inter, sans-serif;
    color: rgba(23, 33, 38, 1);
    white-space: pre-wrap;
    margin: 0;
    transition-duration: 0.7s;
    height: 100%;
    align-items: center;
    text-decoration: none;
}

.industrial-text-block {
    display: flex;
    box-sizing: border-box;
    font: 400 16px / 20px Inter, sans-serif;
    color: rgba(23, 33, 38, 1);
    white-space: pre-wrap;
    margin: 0;
    transition-duration: 0.7s;
    height: 100%;
    align-items: center;
}

.industrial-text-block p {
    text-align: center;
    width: 100%;
}

.industrial-text-block p a {
    color: rgba(23, 33, 38, 1);
    text-decoration: none;
    transition-duration: 0.7s;
}

.scroll-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
  }
  
  .scroll-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #025BAC;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.4s, visibility 0.4s;
  }
  
  .scroll-button:hover {
    background-color: red;
  }

  .product-row {
    display: flex;
    gap: 16px; 
    flex-wrap: wrap; 
    justify-content: space-between;
  }

  .product-card-list {
    display: flex;
  flex-direction: column;
  gap: 16px;
  }

  .search-results-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    top: 17%; /* Расположить прямо под поисковым полем */
    left: 39.7%;
    width: 30%; /* Сделать ширину выпадающего окна такой же, как у input */
    max-height: 200px; /* Ограничение по высоте */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto; /* Добавить прокрутку, если много элементов */
  }
  
  .search-results-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .search-results-dropdown li {
    padding: 10px;
    cursor: pointer;
  }
  
  .search-results-dropdown li a {
    text-decoration: none;
    color: black;
    display: block;
  }
  
  .search-results-dropdown li:hover {
    background-color: #f5f5f5;
  }

  .banner-image_adaptiv {
    display: none;
  }

  /* Стили для меню */
.header-container {
  display: none;
}

.menu-toggle-button {
  display: none;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(4, 76, 148, 1); /* затемненный фон */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.fullscreen-menu.open {
  display: none;
}

.menu-links {
  display: none;
}

.menu-item {
  display: none;
}

.menu-item:hover {
  display: none;
}


  @media (max-width: 768px) {


    .corporate-info-container1 {
      position: sticky;
      top: 0;
      padding: 0;
      flex-direction: column;
      align-items: center;
      
      width: 100%;
      z-index: 2;
    }
  
    .company-info-container {
      flex-direction: column;
      height: 100%;
      width: 100%;
      justify-content: center;
    }
  
    .company-news-section {
      display: none; /* скрываем текстовые ссылки на малых экранах */
    }

    .corporate-section {
      height: 100%;
    }
  
    .logo_button_input {
      flex-direction: row;
      align-items: center;
      margin-top: 0;
      width: 55%;
      gap: 0;
      margin-left: 6%;
    }

    .banner-image_2 {
      display: none;
    }
  
    

    .logo_button a {
      
      height: 100%;
      display: flex;
      justify-content: center;
      
    }

    .button_product {
      display: none;
    }
  
    .button_product button {
      width: 100%;
      margin-top: 10px;
    }
  
    .product-input-container_search {
      width: 100%;
      margin-left: 5%;
    }
  
    .banner-image {
      width: 100%;
      height: auto;
      margin-right: 0;
      display: none;
    }
  
    .partner-info-section {
      margin-top: 20px;
    }
  
    .industrial-product-categories-container {
      flex-direction: column;
      align-items: center;
    }
  
    .industrial-text-block {
      width: 100%;
      text-align: center;
      padding: 15px;
      margin-bottom: 10px;
    }
  
    #header_image {
      width: 100%;
      height: auto;
    }
  
    .menu-toggle {
      display: block;
      font-size: 80px;
      margin: 0;
    }
  
    .menu {
      display: none;
    }
  
    .menu.open {
      display: block;
      position: absolute;
      top: 250px;
      left: 60px;
      right: 0;
      background-color: white;
      padding: 20px;
      width: 100%;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      z-index: 10;
    }
  
    .company-info {
      flex-direction: column;
      align-items: center;
    }
  
    .company-info-styles {
      margin: 10px 0;
      font-size: 18px;
    }

    .header-navigation-bar {
      width: 92%;
      padding: 0;
      height: 100%;
    }

    .corporate-info-container {
      height: 100%;
    }

    .partner-info-section {
      display: none;
    }

    .vertical-section-with-products {
      width: 100%;
      height: 100%;
      display: flex;

    }
    .column-layout-container {
      display: none;
    }

    .company-info-logo {
      width: 100%;
      display: flex;
      flex-direction: row;
      height: 100%;
      justify-content: flex-start;
      align-items: center;
    }

    .field {
      margin-left: 0;
      height: 50%;
      width: 100%;
      margin-right: 0;
      font-size: 16px;
      border-radius: 10px;
      padding-top: 10%;
      padding-bottom: 10%;
      padding-left: 5%;
      transition-duration: 0.05s;
    }
    .search {
      width: 100%;
      height: 100%;
    }

    .field:focus {
      border: 1px solid #90979c;
      transition-duration: 0.05s;
    
    }

    .search_button {
      display: none;
    }

    .field::placeholder {
      color: rgba(105, 107, 108, 1); 
      font: 400 12px Inter, sans-serif;
    
    }

    .banner-image_adaptiv {
      display: flex;
      width: 100%;
      height: 100%;
      margin-right: 0;
      margin-left: 0;
    }

    main {
      
      gap: 40px;
    }

    .company-info-logo a {
      margin: 0;
      margin-left: 3%;
      
     
      font: 700 24px / 16px Inter, sans-serif;
    }

    .company-info-logo a:hover {
      text-decoration: underline;
    }

    .container-main {
      width: 92%;
    }

    main {
      width: 92%;
    }

    .product-section {
      width: 100%;
      min-width: auto;
    }

    .product-title {
      font-size: 24px;

    }

    .all_products button {
      width: 150px;
      height: 55px;
     background-color: white;
     color: #025BAC;
      border: 2px solid #025BAC;
     border-radius: 10px;
       transition-duration: 0.7s;
    }

    .all_products button p {
      font-size: 16px;
    }

    .scroll-button {
      height: 60px;
      width: 60px;
      font-size: 25px;
    }

    .scroll-to-top {
      right: 30px;
    }

    /* Стили для меню */
.header-container {
  display: flex;
  position: relative;
  width: 100%;
}

.menu-toggle-button {
  display: flex;
  font-size: 35px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 10;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  color: black;
  
}

.fullscreen-image {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  height: 7%;
  width: 95%;
  justify-content: space-between;
}


.fullscreen-menu.open {
  display: flex;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  z-index: 2;
  
}
.fullscreen-menu_banner-image_adaptiv {
 
  margin-left: 0;
  margin-bottom: 2%;
  height: 100%;
}

.fullscreen-menu_banner-image_adaptiv_2 {
        
        margin-left: 0;
        margin-bottom: 2%;
        height: 100%;
        
}

.logo_button a:nth-child(n+2) {
  margin-right: 5%;
}

.fullscreen-menu-transport-section-section {
  box-sizing: border-box;
    width: 100%;
    margin-top: 0%;
    border-top: 1px solid #c4cbd1;
}

.menu-links {
  height: 50%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 10%;
  width: 80%;
}

.menu-item {
  display: flex;
  color: white;
  font: 400 60px / 80px Inter, sans-serif;
  text-decoration: none;
  transition: color 0.3s;
}

.menu-item:hover {
  display: flex;
  color: black; 
}

html {
  min-width: auto;
  width: 100%;
  max-width: 100%;
  
  height: auto;
}

body {
  height: auto;
  width: 100%;
}

html {
  min-width: 100%;
}

.search-results-dropdown {
  left: 48%;
  width: 48%;
  top: 70%;
  max-height: 230px;
}

.search-results-dropdown li a {
  font-size: 14px;
  font-weight: 100;
}

    
  }